service cloud.firestore {
  match /databases/{database}/documents {

    // ユーザが認証済みか確認する
    function isAuth() {
      return request.auth != null;
    }

    // ユーザが管理者か判定する
    function isAdmin() {
      return isAuth()
             && exists(/databases/$(database)/documents/permissions/$(request.auth.uid));
    }

    match /comments/{document=**} {
      allow read;
      allow write : if isAuth();
    }

    match /events/{document=**} {
      allow read;
      allow write : if isAdmin();
    }

    match /permissions/{document=**} {
      allow read  : if isAuth();
      allow write : if isAdmin();
    }

    match /presentations/{document=**} {
      allow read;
      allow write : if isAuth();
    }

    match /screens/{document=**} {
      allow read;
      allow write : if isAdmin();
    }

    match /stampCounts/{document=**} {
      allow read, write;
    }

    match /stamps/{document=**} {
      allow read;
      allow write : if isAdmin();
    }

    match /users/{document=**} {
      allow read;
      allow create         : if isAuth();
      allow update, delete : if isAuth()
                             && request.auth.uid == resource.id;
    }
  }
}
