service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth.uid != null;
    }

    function isAdmin(uid) {
      return  uid == get(/databases/{database}/documents/permissions/{docId});
    }

    match /events/{document=**} {
      allow read;
      allow write : if isAdmin(request.auth.uid);
    }

    match /comments/{document=**} {
      allow read;
      allow write : if isAuth();
    }

    match /presentations/{document=**} {
      allow read;
      allow write : if isAuth();
    }

    match /users/{document=**} {
      allow read;
      allow write : if isAuth();
    }

    match /screens/{document=**} {
      allow read;
      allow write : if isAdmin(request.auth.uid);
    }

    match /stampCounts/{document=**} {
      allow read, write;
    }

    match /stamps/{document=**} {
      allow read;
      allow write : if isAdmin(request.auth.uid);
    }

    match /permissions/{document=**} {
      allow read  : if isAuth();
      allow write : if isAdmin(request.auth.uid);
    }
  }
}
